body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #C89E44;

}

nav {
    background: #C89E44;
    color: white;
    padding: 3em;
}

nav .logo {
    font-size: larger;
}

/* 
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
} */

/* nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

nav ul li a.active {
    text-decoration: underline;
} */

.Content {
    background: #C89E44;
    margin: 11%
}



h1 {
    color: white
}

form {
    margin-top: 1em;
}

select, input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

label {
    display: block;
    width: 100%;
    color: white;
    margin-bottom: 1em;
}

input, textarea, select {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3e553f;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.page {
    display: none;
    color: whitesmoke
}

.page.active {
    display: contents;
    background: #C89E44;
}

.hidden {
    display: none;
}

/* Colorful styles for different pages */
/* #home {
    background-color: #FFEB3B;
} */
/* 
#about {
    background-color: #FF9800;
    color: white;
}

#contact {
    background-color: #03A9F4;
    color: white;
} */